VITE_SUPABASE_URL=https://jpffzomuwdcsycpnifrr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpwZmZ6b211d2Rjc3ljcG5pZnJyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE3NTE3NTgsImV4cCI6MjA4NzMyNzc1OH0.pUe2SFta56r1SlazJVQk-aTxAPOM_Y0rkWQbBa8Ei9k
VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_5l03ZLW6AjmFpg4h7J7PhQ_NNYg-uC9
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpwZmZ6b211d2Rjc3ljcG5pZnJyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTc1MTc1OCwiZXhwIjoyMDg3MzI3NzU4fQ.B1l-yih-7oRSKpN2yvmoA-gw-VG_WbDrEZbr2f889P4