VITE_SUPABASE_URL=https://agykjsszhuohobijtkky.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFneWtqc3N6aHVvaG9iaWp0a2t5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE1Nzk5NTMsImV4cCI6MjA5NzE1NTk1M30.KP4iRu7_ZSN6Cz9Ue2YbSTSUHQc03XumoPQ-rieGhYs
VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_jx-KFaF-GmspYbMM6-2vNQ_LhT6lHU5
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFneWtqc3N6aHVvaG9iaWp0a2t5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTU3OTk1MywiZXhwIjoyMDk3MTU1OTUzfQ.B-AtBst2xA_6XVd0iDIHOVnN0qZYoETlgpEtxoYrU6M